
<div local-class="footer">
  <Structural::Ui::Navigation::Desktop />
</div>

{{!-- <div local-class="footer">
  {{#if (or (media 'isMedium') (media 'isLarge') (media 'isWide'))}}
    <a href="https://www.linkedin.com/in/ryan-roderick/" target="_blank" rel="noopener noreferrer" class="linked_in_icon z_index_on_top">
      <Dynamic::Ui::IconCircle>
        <FaIcon @icon="linkedin" @prefix="fab" @size='2x' />
      </Dynamic::Ui::IconCircle>
    </a>
    <a href="https://github.com/RpRoderick" target="_blank" rel="noopener noreferrer" class="z_index_on_top">
      <Dynamic::Ui::IconCircle>
        <FaIcon @icon="github" @prefix="fab" @size='2x' />
      </Dynamic::Ui::IconCircle>
    </a>
  {{/if}}
</div> --}}
