
<div local-class="home_component_container">
  <div local-class="home_header_container">
    <Structural::Ui::Header />
  </div>
  <div local-class="home_content_container">
    <div local-class="home_content_row top">
      <div local-class="home_content blue">
        <div>
        You are inside the Home component in structural/routes components.  This component holds Structural::Ui::Header and Structural::Ui::Footer as examples, which have their content displayed.  Please delete these things as needed to put in your own.
        </div>
      </div>
      <div local-class="home_content blue">
        <div>
        You are inside the Home component in structural/routes components.  This component holds Structural::Ui::Header and Structural::Ui::Footer as examples, which have their content displayed.  Please delete these things as needed to put in your own.
        </div>
      </div>
      <div local-class="home_content orange second">
        <div>
          Example will go here
        </div>      
      </div>
      <div local-class="home_content purple second">
        <div>
          Example will go here
        </div>
      </div>
    </div>
    <div local-class="home_content_row bottom">
      <div local-class="home_content royal_purple">
        <div>
          Example will go here
        </div>
      </div>
      <div local-class="home_content orange second">
        <div>
          Example will go here
        </div>      
      </div>
    </div>
  </div>
  <div local-class="home_footer_container">
    <Structural::Ui::Footer />
  </div>
</div>