
<div class="app_container">
  <div class="header">
  Design Monster has several premium marijuana domains for sale, available individually or as a group.  Email ryan@designmonster.com with any serious offers.  Thank you!  
  </div>
  <div class="list">
    <ul>
      <li>NewHampshireMarijuana.com</li>
      <li>MarijuanaNH.com</li>
      <li>MarijuanaVT.com</li>
      <li>MarijuanaCT.com</li>
      <li>MarijuanaRI.com</li>
      <li>MarijuanaMass.com</li>
      <li>MarijuanaBoston.com</li>
      <li>CambridgeMarijuana.com</li>
      <li>KitteryMarijuana.com</li>
      <li>MarijuanaKittery.com</li>
      <li>PortsmouthEdibles.com</li>
      <li>SeacoastEdibles.com</li>
      <li>SeacoastMarijuana.com</li>
      <li>MarijuanaZip.com</li>
    </ul>
  </div>
</div>
{{outlet}}
